services:
  postgres:
    image: postgres:16-alpine
    container_name: pass_manager_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: pass_manager
      POSTGRES_PASSWORD: pass_manager
      POSTGRES_DB: pass_manager
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./schema.sql:/docker-entrypoint-initdb.d/001-schema.sql:ro

  pgadmin:
    image: dpage/pgadmin4:8
    container_name: pass_manager_pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: "False"
    ports:
      - "5050:80"
    depends_on:
      - postgres
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  postgres_data:
  pgadmin_data:
